body {
    font-family: 'Roboto';
    margin: 0;
}

.header, .p1, .footer {
    background-color: #1F2937;
}

.header, .p1 {
    display: flex;
    padding: 0 20px;
}

.p1 {
    padding: 100px 20px;
    gap: 50px;
}

h1 {
    color: #F9FAF8;
    font-size: 24px;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

a, .footer, .p1_left p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0 0 12px 0;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0 0 0 auto; 
    gap: 17px;
}

a {
    text-decoration: none;    
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #3882F6;
    border-style: none;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
}

img {
    color: #F9FAF8;
    background-color: #cdd7eb67;
    height: auto;
    width: 1000px;
    text-align: center;
    line-height: 150px;
}



.footer {
    justify-content: center;
}